.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-container {
    margin-top: 20px;
}

.field {
    width: 100%;
}

.send {
    margin-top: 20px;
    text-align: center;
}


/* You can add more specific styling for form fields if needed */

mat-form-field {
    margin-bottom: 15px;
}


/* Style the submit button */

button {
    width: 100%;
}